
* {
    padding: 0;
    margin: 0;
}

a, a:hover {
    display: inline-block;
    text-decoration: none;
}

/*=================*/
.vidbox {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.vidbox.active {
    display: none;
}

.vidbox .SkipBtn {
    display: inline-block;
    position: absolute;
    right: 0.6rem;
    bottom: 1.5rem;
    z-index: 9999;
    width: 1rem;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 0.15rem;
    background: #000000;
    color: #ffffff;
    opacity: 0.3;
    font-size: 0.3rem;
    text-align: center;
}

video {
    object-fit:cover;
    width:100%;
    /* height:100%; */
}

video.fullwidth {
    width: 100%;
    height: auto;
}

video.fullheight {
    width: auto;
    height: 100%;
}

/*loading*/
.loading {
    width: 100%;
    height: 100%;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/loading-bg.jpg") no-repeat center -1rem;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.loading.active {
    display: block;
}

.load-dog {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2.86rem;
    font-size: 0;
    box-sizing: border-box;
    padding-right: 0.2rem;
}

.load-dog img {
    width: 2.82rem;
    height: 2.64rem;
    margin: auto;
    animation: flipinY 1s ease-in infinite alternate;
    -webkit-animation: flipoutY 1s ease-in infinite alternate;
}

.loading .lodnum {
    width: 100%;
    height: 1rem;
    margin-top: 3.36rem;
    text-align: center;
    box-sizing: border-box;
    padding-right: 0.36rem;
}

.loading .lodnum span {
    display: inline-block;
    height: 1rem;
    color: #ba0e0a;
    font-size: 0.3rem;
    font-family: "Source Han Sans CN", "Heavy";
    line-height: 1rem;
    font-weight: 800;
}

@-webkit-keyframes flipinY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0);
        opacity: 1;
    }
}

@-moz-keyframes flipoutY {
    0% {
        -moz-transform: perspective(400px) rotateY(0);
        opacity: 1;
    }
    100% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}

@-ms-keyframes flipoutY {
    0% {
        -ms-transform: perspective(400px) rotateY(0);
        opacity: 1;
    }
    100% {
        -ms-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}

@keyframes flipoutY {
    0% {
        transform: perspective(400px) rotateY(0);
        opacity: 1;
    }
    100% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
}

/*========================*/
html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #000000;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Source Han Sans CN", "Heavy";
}

.content {
    width: 100%;
    height: 100%;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/red-bg.jpg") no-repeat center top;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
    display: none;
}
.playback{
    position: absolute;
    top:0;
    left:0;
    height: 0.77rem;
    margin-top: 0.6rem;
    padding-left: 0.63rem;
}
.audioplay{
    width: 0.56rem;
    height: 0.56rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/audio.png")no-repeat center top;
    background-size:cover;
    position: absolute;
    top: 0.38rem;
    right: 0.38rem;
}
.audioplay.active{
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/audio.png")no-repeat center center;
    background-size:cover;
    background-position:0 -0.57rem
}
.pb-btn{
    display:inline-block;
    width: 1.99rem;
    height: 0.77rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/pac-xg_03.png")no-repeat center center;
    background-size:contain;
}
.content.active {
    display: block;
}

.cont1 {
    width: 100%;
    margin-top: 1.39rem;
    display: flex;
    height: 3.07rem;
}

.cont1 img {
    margin: auto;
    width: auto;
    height: 100%;
}

.cont2 {
    width: 5.74rem;
    height: 3.37rem;
    margin: 0 auto;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/re-pic3_03.png") no-repeat center center;
    background-size: contain;
    position: relative;
    top: -0.41rem;
}

.cont2 .yly {
    width: 1.83rem;
    height: auto;
    position: absolute;
    right: -0.03rem;
    bottom: -0.02rem;
    animation: leapcliff 0.1s ease infinite alternate;
    transform-origin: 1rem 1.7rem;
}

.cont3 {
    width: 100%;
    height: auto;
    position: relative;
    top: -0.38rem;
}

.ThinkChange {
    width: 100%;
    height: 2.66rem;
    display: block;
    position: relative;
    z-index: 666;
    text-align: center;
    font-size: 0;
}

.ThinkChange img {
    width: 2.66rem;
    height: 2.66rem;
    margin: 0 auto;
}

.qrcode {
    padding: 200px 0 0 200px !important;
    margin: -200px 0 0 -200px !important;
    position: relative;
    z-index: 100;
    -webkit-user-select: none;
}

.tc-text {
    width: 100%;
    height: 0.83rem;
    display: flex;
    position: relative;
    z-index: 666;
}

.tc-text img {
    height: 100%;
    width: auto;
    margin: auto;
}

.cont3 .cloud1 {
    position: absolute;
    left: 1rem;
    top: 0.36rem;
    width: 1.1rem;
    height: 0.58rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_11.png") no-repeat center center;
    background-size: contain;
    animation: cloud 2.5s linear infinite alternate;
}

.cont3 .cloud2 {
    position: absolute;
    right: 1.2rem;
    bottom: 0.4rem;
    width: 0.81rem;
    height: 0.45rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_18.png") no-repeat center center;
    background-size: contain;
    animation: cloud 2.5s linear infinite alternate;
    animation-delay: 0.3s;
}

.cont3 .redp1 {
    position: absolute;
    top: 0;
    right: 0.16rem;
    width: 2.46rem;
    height: 2.44rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/re-pic2_07.png") no-repeat center center;
    background-size: contain;
    animation: redpackets 1s linear infinite alternate;
    animation-delay: 0.1s;
}

.cont3 .redp2 {
    position: absolute;
    bottom: -0.4rem;
    right: 1.56rem;
    width: 0.84rem;
    height: 0.82rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/re-pic2_11-1.png") no-repeat center center;
    background-size: contain;
    animation: redpackets 1s linear infinite alternate;
    animation-delay: 0.123s;
}

.cont3 .redp3 {
    position: absolute;
    bottom: -1.2rem;
    right: 2.8rem;
    width: 0.96rem;
    height: 1rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_23.png") no-repeat center center;
    background-size: contain;
    animation: redpackets 1s linear infinite alternate;
    animation-delay: 0.2s;
}

.cont3 .redp4 {
    position: absolute;
    bottom: -1.5rem;
    left: 1.53rem;
    width: 0.96rem;
    height: 1rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_26.png") no-repeat center center;
    background-size: contain;
    animation: redpackets 1s linear infinite alternate;
    animation-delay: 0.004s;
}

.cont3 .redp5 {
    position: absolute;
    bottom: 0.86rem;
    left: 0.78rem;
    width: 1.11rem;
    height: 1.26rem;
    z-index: 99;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_15.png") no-repeat center center;
    background-size: contain;
    animation: redpackets 1s linear infinite alternate;
    animation-delay: 0.298s;
}

.iphonex {
    position: fixed;
    height: 3.5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.iphonex .coloud1 {
    position: absolute;
    right: 0.23rem;
    top: 0;
    width: 1.81rem;
    height: 0.99rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_30.png") no-repeat center center;
    background-size: contain;
    animation: cloud 2s linear infinite alternate;

}

.iphonex .coloud2 {
    position: absolute;
    left: 0.23rem;
    bottom: 1.2rem;
    width: 2.55rem;
    height: 1.43rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/en-pic1_35.png") no-repeat center center;
    background-size: contain;
    animation: cloud 2s linear infinite alternate;
    animation-delay: -2s;

}

@keyframes leapcliff {
    from {
        transform: rotateZ(-20deg);
    }
    to {
        transform: rotateZ(10deg);
    }
}

@keyframes redpackets {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(0.9);
    }

}

@keyframes cloud {
    from {
        transform: translateX(-0.2rem);
    }
    to {
        transform: translateX(0.2rem);
    }
}

@media screen and (min-height: 800px) {
    .iphonex {
        display: block;
    }

    .loading {
        background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/loading-bg.jpg") no-repeat center top;
        background-size: cover;
    }

    .load-dog {
        display: flex;
        margin-top: 3.86rem;
        font-size: 0;
        box-sizing: border-box;
    }
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background: rgba(0, 0, 0, 0.86);
    z-index: 999;
    overflow: hidden;
    /*display: none;*/
}

.mask .pic {
    width: 100%;
    height: 4.66rem;
    display: flex;
    margin-top: 1.93rem;
}

.mask .pic img {
    margin: auto;
    height: 100%;
    width: auto;
}

.mask .point1 {
    position: absolute;
    top: 0.26rem;
    right: 0.26rem;
    width: 0.9rem;
    height: 1.07rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/mask_03.png") no-repeat center center;
    background-size: contain;
}

.mask .point2 {
    position: absolute;
    top: 1.16rem;
    right: 0.86rem;
    width: 1.08rem;
    height: 1.27rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/mh-b_03.png") no-repeat center center;
    background-size: contain;
}

.mask.active {
    width: 100%;
}

/*
  Winning
*/
.w-box {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 888;
}

.Winning {

    position: absolute;
    top: 1.83rem;
    left: 0;
    width: 100%;
    height: 9.61rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/zj_02.png") no-repeat center center;
    background-size: contain;

}
.closeBtn{
    width: 0.94rem;
    height: 0.95rem;
    position: absolute;
    z-index:888;
    top:-0.4rem;
    right: 0.28rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/pac-xg_06.png")no-repeat center center;
    background-size: contain;
}
.w-box.active {
    display: block;
}

.w-cont1 {
    width: 100%;
    height: 8.38rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/zj1_02.png") no-repeat center center;
    background-size: contain;
    position: relative;
}

.title {
    font-family: "Source Han Sans CN", "Heavy";
    color: #ba0e0a;
    transform: rotateZ(-6deg);
    padding-top: 0.6rem;
}

.title h2 {
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.58rem;
    transform: skew(-9deg, 6deg) rotateZ(-6deg);
}

.title h3 {
    font-size: 0.4rem;
    text-align: center;
    transform: skew(-9deg, 6deg) rotateZ(-6deg);
}

.title h4 {
    font-size: 0.27rem;
    text-align: center;
    transform: skew(-9deg, 6deg) rotateZ(-6deg);
}

.btnp {
    width: 100%;
    display: flex;
    height: 1.27rem;
}

.Winning .w-cont1 .btnp a {
    display: inline-block;
    width: 3.14rem;
    height: 1.27rem;
    margin: auto;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/Sbtn1_03.png") no-repeat center center;
    background-size: contain;
}

.pot {
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    width: 100%;
    height: 2.65rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/cs1_02.png") no-repeat center center;
    background-size: contain;
}

.query {
    width: 100%;
    height: 2.65rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/dhwh_02.png") no-repeat center center;
    background-size: contain;
    animation: query 1s linear infinite alternate;
}

.pot img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes query {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.1);
    }
}
/*
    repeat
*/
.rp-box {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 888;
}

.repeat {
    position: absolute;
    top: 1.83rem;
    left: 0;
    width: 100%;
    height: 9.61rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/zj_02.png") no-repeat center center;
    background-size: contain;

}
.rp-box.active {
    display: block;
}
.rp-cont1 {
    width: 100%;
    height: 8.81rem;
    position: relative;
}
.repeat .rp-cont1 .btnp a {
    display: inline-block;
    width: 3.14rem;
    height: 1.27rem;
    margin: auto;
    background: url('http://cdn.18red.pactera.greatseacn.com/h5/18red/images/Sbtn1_03.png') no-repeat center center;
    background-size: contain;
}
.repeat .fpot{
    width:100%;
    height: 4.49rem;
    position: absolute;
    bottom:0;
    left:0;
    z-index:999;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/rep11_02.png")no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
.repeat .finger{
    width:100%;
    height: 2.12rem;
    position: absolute;
    top: 4.85rem;
    left:0;
    z-index:888;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/repeat1_02.png")no-repeat center center;
    background-size: contain;
    overflow: hidden;
    animation: finger 0.3s linear infinite alternate;
}
.repeat .redpackage-rp{
    width:100%;
    height: 3.05rem;
    position: absolute;
    top: 3.65rem;
    left:0;
    z-index:866;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/rp_02.png")no-repeat center center;
    background-size: contain;
    overflow: hidden;
}
@keyframes finger {
    to{
        transform:translate(0.05rem,0.1rem);
    }
}
/*
    Nofate
*/
.nf-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 888;
    display: none;
}

.Nofate {
    position: absolute;
    top: 1.83rem;
    left: 0;
    width: 100%;
    height: 9.61rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/zj_02.png") no-repeat center center;
    background-size: contain;

}

.nf-box.active {
    display: block;
}

.Nofate .btnp a {
    display: inline-block;
    width: 3.26rem;
    height: 1.4rem;
    margin: auto;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/nf-btn_03.png") no-repeat center center;
    background-size: contain;
}

.nf-cont1 {
    width: 100%;
    height: 5.32rem;
    background: url("http://cdn.18red.pactera.greatseacn.com/h5/18red/images/nf1_02.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0.8rem;
    transform: translateX(-0.06rem);
}

.nf-cont1 .pic-f {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 888;
    animation: goodfortune 1s ease-in infinite alternate;
}

.nf-cont1 .pic-fg {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 990;
}

@keyframes goodfortune {
    from {
        transform: translateY(-0.12rem);
    }
    to {
        transform: translateY(0rem);
    }
}

/*加载按钮*/
#playvideobtn {
    border: 1px solid red;
    outline: none;
    display: none;
    position: relative;
    z-index: 993;
    bottom: -1rem;
    margin: auto;
    width: 2rem;
    height: 0.8rem;
    background: transparent;
    font-size: 0.3rem;
    box-shadow: -1px -1px 20px #ff2a36;
    color: red;
    text-align: center;
    transform: translateX(-0.1rem);
}

#playvideobtn.active {
    display: block;
}
